<?xml version="1.0" encoding="utf-8" ?>  
<nlog  
    xmlns="http://www.nlog-project.org/schemas/NLog.xsd"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
autoReload="true" throwExceptions="false"  
internalLogFile="C:\NLogErrors\log.txt" >  
    <extensions>  
        <!-- load NLog.Extended to enable ASP.NET-specific functionality -->  
        <add assembly="NLog.Extended" />  
    </extensions>  
    <!--Define Various Log Targets-->  
    <targets >  
        <target name="console" xsi:type="ColoredConsole"  
layout="${message}" />  
        <!--Write logs to File-->  
        <target name="file" xsi:type="File" fileName="C:\NLogErrors\ErrorLogFile.log"  
layout="  
--------------------- ${level}(${longdate})${machinename}-------------------- ${newline}  
${newline}  
Exception Type:${exception:format=Type}${newline}  
Exception Message:${exception:format=Message}${newline}  
Stack Trace:${exception:format=Stack Trace}${newline}  
Additional Info:${message}${newline}  
" ></target>  
        <!--Write Logs to Database-->  
        <target xsi:type="Database" name="db-Details">  
            <!-- SQL command to be executed for each entry -->  
            <commandText>INSERT INTO [NLog_Error](TimeStamp,Level,Host,Type,Logger,Message,stackTrace)  
VALUES(getutcdate(),@level,@host,@type,@logger,@message,@stacktrace)</commandText> 
          
          <!--<commandText>
    insert into dbo.Log (
      Application, Logged, Level, Message,
      Username,
      ServerName, Port, Url, Https,
      ServerAddress, RemoteAddress,
      Logger, CallSite, Exception
    ) values (
      @Application, @Logged, @Level, @Message,
      @Username,
      @ServerName, @Port, @Url, @Https,
      @ServerAddress, @RemoteAddress,
      @Logger, @Callsite, @Exception
    );
  </commandText>-->
          
            <!-- parameters for the command -->  
            <parameter name="@level" layout="${level}" />  
            <parameter name="@host" layout="${machinename}" />  
            <parameter name="@type" layout="${exception:format=type}" />  
            <parameter name="@logger" layout="${logger}" />  
            <parameter name="@message" layout="${message}" />  
            <parameter name="@stacktrace" layout="${exception:stacktrace}" />
   <!--<parameter name="@application" layout="${appsetting:name=AppName:default=Unknown\: set AppName in appSettings}" />
  <parameter name="@logged" layout="${date}" />
  <parameter name="@level" layout="${level}" />
  <parameter name="@message" layout="${message}" />

  <parameter name="@username" layout="${identity}" />

  <parameter name="@serverName" layout="${aspnet-request:serverVariable=SERVER_NAME}" />
  <parameter name="@port" layout="${aspnet-request:serverVariable=SERVER_PORT}" />
  <parameter name="@url" layout="${aspnet-request:serverVariable=HTTP_URL}" />
  <parameter name="@https" layout="${when:inner=1:when='${aspnet-request:serverVariable=HTTPS}' == 'on'}${when:inner=0:when='${aspnet-request:serverVariable=HTTPS}' != 'on'}" />

  <parameter name="@serverAddress" layout="${aspnet-request:serverVariable=LOCAL_ADDR}" />
  <parameter name="@remoteAddress" layout="${aspnet-request:serverVariable=REMOTE_ADDR}:${aspnet-request:serverVariable=REMOTE_PORT}" />

  <parameter name="@logger" layout="${logger}" />
  <parameter name="@callSite" layout="${callsite}" />
  <parameter name="@exception" layout="${exception:tostring}" />-->
          
          
          
            <!-- connection string -->  
            <dbProvider>System.Data.SqlClient</dbProvider>  
            <!--<connectionString>Data Source=MachineName;Initial Catalog=MyDataBase;Integrated Security=True;</connectionString>-->  
        <connectionstring>data source=10.10.1.11,1433;Initial Catalog=supportbeacon;User Id=sa;password= admin;</connectionstring>  
          <!--<connectionString>Data Source=piyush1;Initial Catalog =Test ;Integrated Security=true;</connectionString>-->  
        </target>  
    </targets>  
    <!--End Targets-->  
    <rules>  
        <logger name="*" minlevel="trace" writeTo="file" />  
        <logger name="*" minlevel="trace" writeTo="db-Details" />  
    </rules>  
</nlog>