<?xml version="1.0" encoding="utf-8" ?>
<nlog
    xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
autoReload="true" throwExceptions="false"
internalLogFile="C:\NLogErrors\log.txt" >
  <extensions>
    <!-- load NLog.Extended to enable ASP.NET-specific functionality -->
    <add assembly="NLog.Extended" />
  </extensions>
  <!--Define Various Log Targets-->
  <targets >
    <target name="console" xsi:type="ColoredConsole"
layout="${message}" />
    <!--Write logs to File-->
    <target name="file" xsi:type="File" fileName="C:\NLogErrors\ErrorLogFile.log"
layout="  
--------------------- ${level}(${longdate})${machinename}-------------------- ${newline}  
${newline}  
Exception Type:${exception:format=Type}${newline}  
Exception Message:${exception:format=Message}${newline}  
Stack Trace:${exception:format=Stack Trace}${newline}  
Additional Info:${message}${newline}  
" ></target>
    <!--Write Logs to Database-->
    <target xsi:type="Database" name="db-Details">
    
      <!-- SQL command to be executed for each entry -->
      <commandText>
        INSERT INTO [NLog_Error](TimeStamp,Level,Host,Type,Logger,Message,stackTrace,IPAddress)
        VALUES(getutcdate(),@level,@host,@type,@logger,@message,@stacktrace,@IPAddress)
      </commandText>
      <!-- parameters for the command -->
      <parameter name="@level" layout="${level}" />
      <parameter name="@host" layout="${machinename}" />
      <parameter name="@type" layout="${exception:format=type}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@stacktrace" layout="${exception:stacktrace}" />
      <parameter name="@IPAddress" layout="${exception:IPAddress}" />
     
      <!-- connection string -->
      <dbProvider>System.Data.SqlClient</dbProvider>
      <connectionString>Data Source=piyush1;Initial Catalog=Test;Integrated Security=True;</connectionString>
    </target>
  </targets>
  <!--End Targets-->
  <rules>
    <logger name="*" minlevel="trace" writeTo="file" />
    <logger name="*" minlevel="trace" writeTo="db-Details" />
  </rules>
</nlog>