

body {
  background-color: #fff;
    font-family: sans-serif,Arial,"Helvetica";
    font-weight: 300;
    font-size: 13px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    
    margin-top: 70px;
}

a.HtmlLink:link {
    text-decoration: underline;
    color: red;
    
}

/* Titles */
h1, h2, h3, h5, h6 {
    font-family: sans-serif,Arial,"Helvetica";
    font-weight: 300;
    color: #333;
}
.h4{
  text-align: center;
}

.ey-formValidation
{
	color: #ff0000;
	font-family: verdana;
	font-size: 8pt;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #404040;
    word-wrap: break-word;
    font-family: sans-serif,Arial,"Helvetica";
    font-weight: 300;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #a2a2a2;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.top-navigation {
display: block;
height: 82px;
width: 100%;
position: fixed;
top: 51px;
left: 0;
z-index: 600;
}

.navbar {
	font-weight: 200;
	font-size: 14px;
	padding-top: 0px;
	padding-bottom: 0px;
}


.navbar .navbar-nav > .active > a {
	background: #ff7878;
}

.navbar-inverse .navbar-brand {
	color: #999999;
	font-weight: bolder;
	font-size: 22px;
	letter-spacing: 1px;
}

.navbar-inverse .navbar-brand i {
	color: #ff7878;
	font-size: 22px;
	letter-spacing: 1px;
}

/*TILT*/
.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../img/header-bg.jpg) no-repeat center top;
	margin-top: -10px;
	padding-top:20px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	margin-top: 100px;
	color: white;
	font-size: 70px;
	font-weight: 300;
	letter-spacing: 3px;
}

#headerwrap h2 {
	color: white;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}

/* Dark Grey Wrap */
#dg {
	background: #e0e0e0;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}

#dg h4 {
	font-weight: 700;
}

/* Light Grey */
#lg {
	background: #ebebeb;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}

#lg h4 {
	font-weight: 700;
}


/* Red Wrap */
#r {
	background: #ff7878;
	padding-top: 35px;
	padding-bottom: 35px;
}

#r h4 {
	color: white;
	font-weight: 700;
}

#r p {
	color: white;
}

/* Blue Wrap */

#blue {
	background: #3498db;
	padding-top: 35px;
	padding-bottom: 35px;
}

#blue h4 {
	color: white;
	font-weight: 700;
}

#blue p {
	color: white;
}



/* Footer Wrap */
#f {
	background: #2d2d2d;
	padding-top: 30px;
	padding-bottom: 30px;
}

#f i {
	color: #bdbdbd;
	font-size: 30px;
	padding: 20px;
}

#f i:hover {
	color: #ff7878;
}



/****** SECTIONS *****/

.w {
	padding-top: 35px;
}

.w h4 {
	font-weight: 700;
}

.w i {
	color: #ff7878;
	font-size: 30px;
}


.wb {
	padding-top: 35px;
	margin-bottom: 0px;
}

.wb h4 {
	font-weight: 700;
}

.desc {
	padding-top: 35px;
}

.desc h4 {
	font-weight: 700;
}

.desc i {
	color: #ff7878;
	font-size: 12px;
	padding: 5px;
}

/***** MODAL CONTACT *****/
.modal-content {
	position: relative;
	background-color: #fff;
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
	box-shadow: 0 3px 9px rgba(0,0,0,0.5);
	background-clip: padding-box;

}

.modal-header {
	min-height: 16.428571429px;
	padding: 15px;
}

.modal-header h4 {
	font-weight: 700;
}

.modal-body {
	background: #fff;
    font-family: sans-serif,Arial,"Helvetica";
	font-weight: 100;
    font-size: 14px;
    color: black;
}

.modal-footer {
	text-align: right;
	background: #fff;
}

/* ==========================================================================
   Pricing Tables
   ========================================================================== */
   
.pricing-option {
    padding-bottom: 40px;
}

.pricing-option .pricing-top {
    position: relative;
    background: #222;
    color: white;
    text-align: center;
    font-weight: bold;

    padding: 40px 20px 30px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pricing-option .pricing-top .special-label {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #1abc9c;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 3px 0;
}

.special .pricing-top {
    background: black;
}

.pricing-option .pricing-edition {
    text-transform: uppercase;
    display: block;
    font-size: 25px;
    letter-spacing: 8px;
}

.pricing-option .price {
    display: inline-block;
    position: relative;
}

.pricing-option .price sup {
    position: absolute;
    top: 50px;
    left: -10px;
    font-size: 24px;
}

.pricing-option .price .price-amount {
    font-size: 108px;
    letter-spacing: -4px;
}

.pricing-option .price small {
    position: relative;
    left: -10px;
    font-size: 18px;
}

.pricing-option ul {
    list-style: none;
    margin: 0;
    background: #eee;
    text-align: center;
    padding-left: 0px;
}

.pricing-option ul li {
    border-bottom: solid 1px #e1e1e1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pricing-option .pricing-signup {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 10px;
    color: white;
    background: #1abc9c;
}

.pricing-option .pricing-signup:hover {
    background: #ff7878;
}

/* ==========================================================================
   Boxes
   ========================================================================== */

.box.box-danger {
border-top-color: #c1c1c1;
}

.box {
position: relative;
background: #f0f0f0;
border-top: 1px solid #c1c1c1;
margin-bottom: 20px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
width: 100%;
}

.box .box-header > .fa, .box .box-header > .glyphicon, .box .box-header > .ion, .box .box-header .box-title {
display: inline-block;
padding: 10px 0px 10px 10px;
margin: 0;
font-size:16px;
cursor: default;
}

.box .box-body {
padding: 10px;
-webkit-border-top-left-radius: 0;
-webkit-border-top-right-radius: 0;
-webkit-border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-topleft: 0;
-moz-border-radius-topright: 0;
-moz-border-radius-bottomright: 3px;
-moz-border-radius-bottomleft: 3px;
border-top-left-radius: 0;
border-top-right-radius: 0;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
}


.show-on-hover:hover > ul.dropdown-menu {
    display: block;    
}
.selected img {
    opacity:0.5;
}

/*
    Component: Small boxes
*/
.small-box {
  position: relative;
  display: block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 15px;
}

.small-box > .inner {
  padding: 10px;
  padding-left:15px;
}
.small-box > .small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
.small-box > .small-box-footer:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
}
.small-box h3 {
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
}
.small-box p {
  font-size: 15px;
}
.small-box p > small {
  display: block;
  color: #f9f9f9;
  font-size: 13px;
  margin-top: 5px;
}
.small-box h3,
.small-box p {
  z-index: 5px;
}
.small-box .icon {
  position: absolute;
  top: auto;
  bottom: 5px;
  right: 5px;
  z-index: 0;
  font-size: 80px;
  color: rgba(0, 0, 0, 0.15);
  font-size:50px;
}
.small-box:hover {
  text-decoration: none;
  color:#3e3e3d;
  background-color:#fff;
  border-color:#ffe600;
}
.small-box:hover .icon {
  color:#ffe600;
}
@keyframes tansformAnimation {
  from {
    font-size: 90px;
  }
  to {
    font-size: 100px;
  }
}
@-webkit-keyframes tansformAnimation {
  from {
    font-size: 90px;
  }
  to {
    font-size: 100px;
  }
}
@media screen and (max-width: 480px) {
  .small-box {
    text-align: center;
  }
  .small-box .icon {
    display: none;
  }
  .small-box p {
    font-size: 12px;
  }
}
.bg-aqua {
  color: gray;
  background: #fff;
  border: 1px solid #f1f1f1;
}

/* ==========================================================================
   Carousel
   ========================================================================== */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 375px;
  background-color:#555;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
}

/* bootstrap 3 helpers */

.navbar-form input, .form-inline input {
    width:auto;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

/* Footer */
.footer1 { background: #525252; padding: 30px 0 0 0; font-size: 12px; color: #999; top-border:1px;}
  .footer1 a { color: #ccc; }
    .footer1 a:hover {color: #fff; }
  .footer1 .widget { margin-bottom:30px; }    
  .footer1 .widget-title { font-size: 17px; font-weight: bold; color: #ccc; margin: 0 0 20px 15px; }
  .footer1 .entry-meta { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; margin: 0 0 35px 0; padding: 2px 0; color: #888888; font-size: 12px; font-size: 0.75rem; }
    .footer1 .entry-meta a { color: #333333; }
    .footer1 .entry-meta .meta-in { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 10px 0; }
  .follow-me-icons { font-size:30px; }    
    .follow-me-icons i { float:left; margin:0 10px 0 0; }   

.footer2 { background: #232323; padding: 15px 0; color: #777; font-size: 12px; }
  .footer2 a { color: #3e3e3d; }
    .footer2 a:hover { color: #fff; }
    .footer2 p { color:#dddddd; margin: 0; }

.btn2{
    display: inline-block;
  padding: 5px 15px 5px;
  margin-bottom: -5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color:#525252;
  color:#dddddd;
  border: 1px solid transparent;
  border-top: 1px dotted #dad9d3;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}
.btn2:hover{
  background-color:#3e3e3d;
  border-color:#333423; 
  color:#dddddd;
  border-left: 3px solid #ffe600;
}
.btn3{
    display: inline-block;
  padding: 5px 15px 5px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color:#525252;
  color:#dddddd;
  border: 1px solid transparent;
  border-top: 1px dotted #dad9d3;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}
.btn3:hover{
  background-color:#525252;
  color:#dddddd;
}



#result a.list-group-item {
height: auto;
min-height: 220px;
}
#result a {
  color:#7f7f7f;
}
#result .box {
  position: relative;
  background: #ffffff;
  border-top: 1px solid #c1c1c1;
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

#result .box.box-primary {
  border-top-color: #c1c1c1;
}
#result .box.height-control .box-body {
  max-height: 300px;
  overflow: auto;
}
#result .box .box-header {
  position: relative;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0px solid #f4f4f4;
  color: #444;
}
#result .box .box-header:before,
#result .box .box-header:after {
  display: table;
  content: " ";
}
#result .box .box-header:after {
  clear: both;
}
#result .box .box-header > .fa,
#result .box .box-header > .glyphicon,
#result .box .box-header > .ion,
#result .box .box-header .box-title {
  display: inline-block;
  padding: 10px 0px 10px 10px;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  float: left;
  cursor: default;
}
#result .box .box-header a:not(.btn) {
  color: #444;
}
#result .box .box-header > .box-tools {
  padding: 5px 10px 5px 5px;
}
#result .box .box-body {
  padding: 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
#result .box .box-footer {
  border-top: 1px solid #f4f4f4;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
  background-color: #ffffff;
}

#result .list-group-item {
position: relative;
display: block;
padding-top:10px;
padding-left:15px;
padding-right:15px;
padding-bottom:0px;
margin-bottom: 15px;
background-color: #f1f1f1;
}
.filter-box {
position: relative;
display: block;
padding-top:10px;
padding-left:15px;
padding-right:15px;
padding-bottom:5px;
margin-bottom: 15px;
background-color: #f1f1f1;
color:#000;
font-size:12px;
}
.form-control-2{
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
}
/*!
 * iCheck v1.0.1, http://git.io/arlzeA
 * =================================
 * Powerful jQuery and Zepto plugin for checkboxes and radio buttons customization
 *
 * (c) 2013 Damir Sultanov, http://fronteed.com
 * MIT Licensed
 */
/* iCheck plugin Minimal skin, black
----------------------------------- */
.icheckbox_minimal,
.iradio_minimal {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background: rgba(255, 255, 255, 0.7) url(iCheck/minimal/minimal.png) no-repeat;
  border: none;
  cursor: pointer;
}
.icheckbox_minimal {
  background-position: 0 0;
}
.icheckbox_minimal.hover {
  background-position: -20px 0;
}
.icheckbox_minimal.checked {
  background-position: -40px 0;
}
.icheckbox_minimal.disabled {
  background-position: -60px 0;
  cursor: default;
}
.icheckbox_minimal.checked.disabled {
  background-position: -80px 0;
}
.iradio_minimal {
  background-position: -100px 0;
}
.iradio_minimal.hover {
  background-position: -120px 0;
}
.iradio_minimal.checked {
  background-position: -140px 0;
}
.iradio_minimal.disabled {
  background-position: -160px 0;
  cursor: default;
}
.iradio_minimal.checked.disabled {
  background-position: -180px 0;
}
/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  .icheckbox_minimal,
  .iradio_minimal {
    background-image: url('iCheck/minimal/minimal@2x.png');
    -webkit-background-size: 200px 20px;
    background-size: 200px 20px;
  }
}
.pace .pace-progress {
  background: #00c0ef;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}
.pace-inactive {
  display: none;
}
#result form{
  padding-top: 10px;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 0px;
margin-bottom: 0px;
  background-color:#f5f5f5;
}

.btns{
  display: inline-block;
padding: 6px 10px;
font-size: 14px;
font-weight: normal;
line-height: 1.428571429;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
background-color: #808080;
border: 1px solid transparent;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
.btns:hover{
  background-color:#b3b3b3;
  color:#000;
}

.count{
  padding-left:5px;
  margin-left:5px;
  display: inline-block;
  color:#b3b3b3;
  border-left: 1px dotted #b3b3b3;
}

.searchhead{
  padding-top:10px;
}

.media-body a{
  color:blue;
}

.sector-name {
	text-align: center;
	padding-top: 0px;
}

.list-active {
position: relative;
display: block;
padding: 10px 15px;
margin-bottom: 0px;
background-color: #fff;
}

.error-container
{
	color:red;
}

.popOuter{width:100%; height:100%; left:0; top:0; background:url(../img/dot.png) repeat; position: fixed; display:block; z-index:99;}

.watermark {
    position: absolute;
    top : 80px;
    opacity: 0.25;
    font-size: 3em;
    width: 100%;
    text-align: center;
    z-index: 1000;
}